@font-face {
    font-family: 'heading';
    src: url('../fonts/Muli-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'body';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'code';
    src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}

pre {
    position: relative;
}

.code-copy-icon-container {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: 0.3s;
    width: 30px;
}

.code-copy-icon-container > div {
    margin-top: 4px;
    position: relative;
}

.sm-icon {
    height: 16px;
    width: 16px;
}

.code-lang-name-container {
    left: 15px;
    position: absolute;
    top: 10px;
}

.code-lang-name {
    font-family: 'code';
    font-size: 12px;
}

.tooltip {
    border-radius: 5px;
    opacity: 0;
    padding: 3px 8px;
    position: absolute;
    right: 30px;
    top: -2px;
    transform: scale(0);
    transition: 0.3s;
}

.show-tooltip {
    opacity: 1;
    transform: scale(1);
}
